// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-white: #fff;
$color-black: #000;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

// GRID DIMENTIONS
$grid-width: 114rem;
$gutter-horizontal: 8rem;
$gutter-vertical: 6rem;

// FONT
$default-font-size: 1.6rem;

// BORDER RADIUS
$border-radius-small: 3px;

// BOX SHADOW
$box-shadow-default: 0 1.5rem 4rem rgba($color-black, 0.15);
$box-shadow-default-dark: 0 1.5rem 4rem rgba($color-black, 0.2);
$box-shadow-default-dark-large: 0 2rem 4rem rgba($color-black, 0.2);
$box-shadow-medium: 0 3rem 6rem rgba($color-black, 0.1);
$box-shadow-small: 0 1rem 2rem rgba($color-black, 0.1);
$box-shadow-small-dark: 0 1rem 2rem rgba($color-black, 0.4);
$box-shadow-small-dark-wide: 0 1rem 3rem rgba($color-black, 0.1);
